
// .tab-button-icon {
//     -webkit-animation-duration: 2s;
//     animation-duration: 2s;
//     animation-iteration-count: infinite;
//     -webkit-animation-name: bounce;
//     animation-name: bounce;
// }

// @keyframes bounce {
//     0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
//     40% {transform: translateY(-30px);}
//     80% {transform: translateY(-10px);}
//     // 60% {transform: translateY(-20px);}
// }

.tabs-md .tab-button[aria-selected=true] .tab-button-text  {
  transform: none;
}

.tabbar .tab-button {
  background-color: white;
  border: none;
}

.tabbar::before {
  display: none;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  transform: translateY(-5px) scale(1.1);
}

.boun {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 5.6rem;
  background-color: white;
}

.wave {
  flex-grow: 1;
  height: 2.5rem;
  background-image: url('/assets/imgs/sample-1.svg');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 60px;
}

.active-tab {
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-name: bounce;
}

.unactive-tab {
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-name: bounce-out;
}

@keyframes bounce-out {
  0% {transform: translateY(-53px)}
  40% {transform: translateY(-40px);}
  60% {transform: translateY(-43px);}
  80% {transform: translateY(-40px);}
  100% {transform: translateY();}
}

@keyframes bounce {
  60% { transform: translateY(-53px);}
  80% { transform: translateY(-50px);}
  100% { transform: translateY(-53px);}
}
